/* إعدادات عامة */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #001f3f;
  color: #fff;
  overflow-x: hidden;
}

/* الهيدر */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 20, 50, 0.8);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  z-index: 1000;
  transition: 0.3s ease;
}

header.scrolled {
  background: rgba(0, 20, 50, 0.95);
  box-shadow: 0 0 10px rgba(0, 191, 255, 0.4);
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #00bfff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margi
